#bg{
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
}

#face{
    position: fixed;
    margin-top: 50px;
    margin-left: 90px;
    width: 320px;
}

h1{
    position: fixed;
    font-size: 85px;
    margin-top: 150px;
    margin-left: 490px;
}

h3{
    position: fixed;
    font-size: 50px;
    margin-top: 290px;
    margin-left: 500px;
}

button {
    position: fixed;
    bottom: 50px;
    right: 50px;
    background-color: lightgrey;
    border: 2px solid white;
    border-radius: 25%;
    width: 120px;
    height: 50px;
    font-size: 20px;
    color: black;
    font-weight: bold
}