{% extends "aboutme/base.html" %}
{% load static %}


{% block head_title %} Blog {% endblock %}
{% block header %}
<div class="vertical">
    <h1 class="page_name">Blog</h1>
    <img id="face" src="{% static 'aboutme/images/face.png' %}">
    {% include "aboutme/left_menu.html" %}
</div>
<header>

    {% include "aboutme/header_menu.html" %}

</header>
{% endblock %}
{% block main_content %}
<div class="container">

<h1> {{ form_title }}</h1>
<form method="POST" novalidate>
    {% csrf_token %}
<table id="data">
        {{ form }}
        <tr style="text-align: center;"><td><input type="submit" value="Save"></td></tr>
    </table>
</form>
</div>
    <a href="{% static 'aboutme/files/cv.pdf' %}"><button class="button">CV</button></a>

{% endblock %}