{% extends "aboutme/base.html" %}
{% load static %}

{% block main_content %}
<div class="container">
    <table id="data">
        <thead>
            <tr>
                <th>Title</th>
                <th>Note</th>
                <th>Entry date</th>
                <th>Categories</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ post.title }}</td>
                <td>{{ post.note }}</td>
                <td>{{ post.entry_date }} </a> </td>
                <td>{{ post.category }}</td>
            </tr>
        </tbody>

    </table>
    <a href="{% url 'post_edit' post.id %}">
        <button class="next" style="display:inline-block;">Edit post</button></a>
    <a href="{% url 'post_delete' post.id %}">
        <button class="next" style="display:inline-block;">Delete post</button></a>
    <a href="{% url 'calendar_current' %}">
        <button class="next" style="float:right;">Back</button></a>
</div>
<a href="{% static 'aboutme/files/cv.pdf' %}"><button class="button">CV</button></a>

{% endblock %}