{% extends "aboutme/base.html" %}
{% load static %}


{% block head_title %} CSS {% endblock %}
{% block header %}
<div class="vertical">
    <h1 class="page_name">CSS</h1>
    <img id="face" src="{% static 'aboutme/images/face.png' %}">
    {% include "aboutme/left_menu.html" %}
</div>
<header>

    {% include "aboutme/header_menu.html" %}

</header>
{% endblock %}
{% block main_content %}
<div class="container">
    {% include "aboutme/from_where_skills.html" %}
</div>

<a href="{% static 'aboutme/files/cv.pdf' %}"><button class="button">CV</button></a>


{% endblock %}