{% extends "aboutme/base.html" %}
{% load static %}

{% block main_content %}
<div class="container">

    {% if education.all %}
    <h2>Education</h2>
    <table id="data">
        <thead>
            <tr>
                <th>Educational institution</th>
                <th>Course name</th>
                <th>Period of study</th>
            </tr>
        </thead>
        <tbody>
            {% for edu in education %}
            <tr>
                <td>{{ edu.school_name }}</td>
                <td>{{ edu.course_name }}</td>
                <td style="text-align: center;">{{ edu.start_date|date:"Y-m" }} - {{ edu.end_date|date:"Y-m" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    <br>
    {% if courses.all %}
    <h2>Courses</h2>
    <table id="data">
        <thead>
            <tr>
                <th>Educational institution</th>
                <th>Course name</th>
                <th>Course end date</th>
            </tr>
        </thead>
        <tbody>
            {% for course in courses %}
            <tr>
                <td>{{ course.school_name }}</td>
                <td>{{ course.course_name }}</td>
                <td style="text-align: center;">{{ course.end_date|date:"Y-m" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

    <br>
    {% if books.all %}
    <h2>IT industry books read</h2>
    <table id="data">
        <thead>
            <tr>
                <th>Author</th>
                <th>Title</th>
                <th>Reading end date</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <td>{{ book.author_name }}</td>
                <td>{{ book.title }}</td>
                <td style="text-align: center;">{{ book.end_date|date:"Y-m" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>

<a href="{% static 'aboutme/files/cv.pdf' %}"><button class="button">CV</button></a>


{% endblock %}