{% load static %}


<div style="margin-left:40px; text-decoration:none;">
     <a href="https://github.com/Jankes85?tab=repositories" class="left_menu"><button class="menu">
               <img src="{% static 'aboutme/images/github.png' %}" style="width:30px;height:auto;margin-right: 7px;">
               Github
          </button></a>
     <a href="https://www.linkedin.com/in/wojciech-jankowski-python/" class="left_menu"><button class="menu">
               <img src="{% static 'aboutme/images/linkedin.png' %}" style="width:27px;height:auto;margin-right: 7px;">
               LinkedIn
          </button></a>
     <a href="https://www.codewars.com/users/Jankes85" class="left_menu"><button class="menu">
               <img src="{% static 'aboutme/images/codewars.png' %}" style="width:27px;height:auto;margin-right: 7px;">
               Codewars
          </button></a>
</div>